TextAdventure/__pycache__/Encounter.cpython-310.pyc
TextAdventure/__pycache__/Helpfile.cpython-310.pyc
TextAdventure/__pycache__/Intro.cpython-310.pyc
TextAdventure/__pycache__/Main.cpython-310.pyc
TextAdventure/__pycache__/Stats.cpython-310.pyc
TextAdventure/__pycache__/Inventory.cpython-310.pyc
TextAdventure/__pycache__/TestbereichSamo.cpython-310.pyc
TextAdventure/__pycache__/TestbereichNils.cpython-310.pyc
TextAdventure/__pycache__/Enemys.cpython-310.pyc
TextAdventure/__pycache__/Items.cpython-310.pyc
SaveFile_Autosave.pickle
Savepoint_Status.pickle
TextAdventure/__pycache__/MainMenu.cpython-310.pyc
TextAdventure/__pycache__/SaveLoad.cpython-310.pyc
TextAdventure/__pycache__/Colors.cpython-310.pyc
